.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureCard {
  padding: 1.5rem;
  height: 100%;
}

.featureIcon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
